/*------ google fonts 
----- */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital@0;1&family=Poppins:wght@500&family=Work+Sans:ital,wght@0,400;0,500;1,400&display=swap');

/* common styles or utilities  */
body{
    font-family: 'Work Sans', sans-serif;
    border: 3px solid peru;
    width: 1920px;

    
}
/* --------------
header styles 
----------------- */

.container{
    height: 1322px;
    width: 1920px;
    background-color: rgba(255, 144, 14, 0.1);
    /* border: 3px solid red; */
    
}

/* navbar styles  */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .nav-logo{
    width: 302px;
    padding-left: 228px;
    font-weight: 700;
    font-size: 45px;
    width: 302px;
    height: 53px;
    margin-top: -68px;
   
}
.nav-list{
    margin-top: 63px;
}
ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-right: 200px;

}
ul li a{
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #424242;
    text-decoration: none;
    padding: 20px;
} 

/* banner head styles  */
.banner-head{
    padding:0 529px 0 529px;
}
.banner-title{
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    line-height: 75px;
} 
.banner-description{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    text-align: center;

}
/* button styles  */
 .banner-primary{
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    height: 64px;
    text-align: center;
    font-size: 20px;
    margin-left: 870px;
    margin-top: 29px;
    width: 180px;
}
.banner img{
    width: 1440px;
    height: 700px;
    padding:0 240px 0 240px;
    background: url(group-three-modern-architects.jpg);
    border-radius: 8px;
    margin-top: 60px;
    margin-bottom: 45px;

}

/*------------------
 features styles 
-------------------- */
.features-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 73px;
    justify-items: center;
    margin-top: 85px;
}
.features-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-column-gap: 24px;
    padding-left: 301px;

}
.feature-img img{
    width: 342px;
    height: 342px;
    background: url(business-people-with-arms-crossed.jpg);
    border-radius: 8px;
}
.features-info{
    padding-right: 301px;
}
.features-title{
    font-weight: 500;
    font-size: 45px;
}
.features-title .t1{
    color: #727272;
}
.features-title .t2{
    color: #131313;
}
.features-title.t3{
    color: #FF900E;
    margin-top: -45px;
}
.features-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 32px;
}
.features-primary{
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    height: 64px;
    text-align: center;
    font-size: 20px;
    margin-top: 53px;
    width: 180px;
    text-align: center;
}

/*-----------------------
 experience styles
 --------------------------  */
 .experiences{
    width: 1440px; 
    height: 1059px;
 }
.experience-container{
    display: flex;
    gap: 54px;
    margin-top: 130px;
}
.experience-info{
    padding-left: 270px;
}
.experience-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-top: 39px;
}
.experience-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    width: 586px;
    height: 78px;
    margin-top: 24px;
}
.experience{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    width: 514px;
    height: 111px;
    padding: 30px;
    grid-row-gap: 20px;
}
.experience .exp-title{
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}
.experience .exp-des{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 10px;
}
.experience-thumbnail{
    margin-right: 240px;
    width: 708px;
    height: 982px;
    z-index: -1;
}
.experience-primary{
    color: #FFFFFF;
    width: 342px;
    height: 200px;
    left: 880px;
    top: 3104px;
    background: #FF900E;
    border-radius: 8px;
    font-weight: 700;
    font-size: 65px;
    margin-top: -68px;
    margin-left: 858px;
}
.experience-primary span {
    font-weight: 500;
    font-size: 25px;
}

/*---------------------
 some facts styles 
----------------------- */
.facts-info{
    margin-top: 130px;
    margin-left: 240px;
}
.facts-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    width: 260px;
    height: 53px;
}
.facts-description{
    font-weight: 400;
    font-size: 16px;
    width: 542px;
    height: 52px;
    margin-top: -30px;
}.facts{
    display: flex;
    justify-content: space-between;
    padding:0 290px 0 290px;
    margin-top: 100px;

}
.fact{
    /* box-sizing: border-box; */
    width: 169px;
    height: 136.22px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 45px 36px 59px 36px;
}
.fact img{
    width: 45.22px;
    height: 45.22px;
}
.fact .fact-title{
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    margin-top: 1px;
    margin-bottom: -17px;
}
.fact .fact-des{
    color: #727272;
    font-size: 20px;
    font-weight: 600;
}

/* -------------------
sponsor styles
-------------------  */
.sponsor-info{
    text-align: center;
    margin-top: 180px;
}
.sponsor-info .sponsor-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.sponsor-info .sponsor-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-left: 689px;
    height: 52px;
    width: 568px;
}

.sponsor-images{
    display: flex;
    gap: 155px;
    justify-content: space-between;
    padding: 0 240px 0 240px;
}
.sponsor-images img{
    width: 166.76px;
    height: 50px;
    mix-blend-mode: luminosity;
}

/* footer styles 
------------- */
.footer-container{
    background: #FFF4E7;
    border-radius: 8px;
    margin-top: 130px;
    width: 1440px;
    height: 100px;
    margin: 0 240px 0 240px;
}
.footer-container p{
    color: #424242;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    padding: 39px 410px 39px 410px;

}

.hide{
    display: none;
}



/* ----------------
media query for mobile
------------------ */
@media only screen and (max-width:576px) {
    body , .container{
        width: 100%;
        height: 100%;
    }
    .nav, ul{
        flex-direction: column;
    } 
    .nav-logo{
        padding: 35px;
    }
    .nav-list {
        margin-top: 28px;
    }
    .nav-list ul li{
        padding-top: 15px;
    }
    .banner-head{
        padding: 0;
    }
    .banner-title{
        font-size: 47px;
        margin-bottom: -10px;
    }
    .banner-description{
        padding: 30px;
    }
    .banner-primary{
        margin: 20px;
    }
    .banner{
        width: 100%;
        padding-top: 26px;
        
    }
    .banner img{
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
    
    .features-container, .features-images{
        grid-template-columns: repeat(1, 1fr); 
        padding: 0;  
        margin: 0;
        width: 100%;
        height: 100%;

    }
    .feature-img{
        padding: 10px;
        margin-left: 80px;
    }
    .feature-img img{
        width: 100%;
        padding: 0;
        margin: 0;
        margin-left: -114px;
        height: 100%;

    }
    .features-info{
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;

    }
    .experiences{
        width: 100%;
    }
    .experience-container{
        flex-direction: column;
        padding: 0;
        margin-right: 40px;
    }
    .experience-info{
        padding-left: 0;
        width: 100%;
        margin: 0;
    }
    .experience-title, .experience, .experience-description{
        width: 100%;
    }
    .experience-thumbnail{
        width: 100%;
}
    .experience-thumbnail img{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .experience-primary{
        flex-direction: column;
        padding: 39px;
        margin: 16px;
    }

    .some-facts, .facts-description{
        width: 100%;
    }
    .facts-container{
        flex-direction: column;
        margin-top: 1253px;
    }
    .facts-info{
        flex-direction: column;
        margin: 0;
        padding: 30px;
    }
    .facts{
        flex-direction: column;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .fact{
        margin: 30px;
    }

    
    .sponsors{
        width: 100%;
    }
    .sponsor-container{
        flex-direction: column;
    }
    .sponsor-info{
        flex-direction: column;
        width: 100%;
        padding: 6px;
        margin-left: -689px;

    }
    .sponsor-title{
        width: 100%;
        margin: 0;
        padding: 0;
        margin-left: 689px;
    }

    .sponsor-info .sponsor-description{
        width: 100%;
    }
    .sponsor-images{
        flex-direction: column;
        padding: 43px;
        margin: 40px;
    }
    .sponsor-img{
        width: 100%;
        margin-top: -77px;
    }

    .footer{
        width: 100%;
    }
    .footer-container{
        width: 100%;
        margin: 0;
    }
    .footer-container p{
        padding: 0;
    }
}
